# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.lst

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/ipch/ffa6a17b519d0e98/system_stm32f4xx.ipch
.vscode/ipch/2cfabe6966be60c8/mmap_address.bin
.vscode/ipch/3b63719f76c0725d/mmap_address.bin
.vscode/ipch/3b63719f76c0725d/unitTest_compression.ipch
.vscode/ipch/6e5e19603d3ae42/mmap_address.bin
.vscode/ipch/6e5e19603d3ae42/stm32f4xx_hal_tim_ex.ipch
.vscode/ipch/83e49125165765f7/mmap_address.bin
.vscode/ipch/a486822a832d5f2d/cmsis_os.ipch
.vscode/ipch/a486822a832d5f2d/mmap_address.bin
.vscode/ipch/a7686017b2a8a2eb/compress.ipch
.vscode/ipch/a7686017b2a8a2eb/mmap_address.bin
.vscode/ipch/af6eeedfa3086fc1/mmap_address.bin
.vscode/ipch/fea0869d7a817ae2/mmap_address.bin
.vscode/ipch/fea0869d7a817ae2/timers.ipch
.vscode/ipch/ffa6a17b519d0e98/mmap_address.bin
build/cmsis_os.lst
build/compress.lst
build/croutine.lst
build/event_groups.lst
build/freertos.lst
build/heap_4.lst
build/list.lst
build/main.lst
build/port.lst
build/queue.lst
build/stm32f4xx_hal.lst
build/stm32f4xx_hal_cortex.lst
build/stm32f4xx_hal_crc.lst
build/stm32f4xx_hal_dma.lst
build/stm32f4xx_hal_dma_ex.lst
build/stm32f4xx_hal_flash.lst
build/stm32f4xx_hal_flash_ex.lst
build/stm32f4xx_hal_flash_ramfunc.lst
build/stm32f4xx_hal_gpio.lst
build/stm32f4xx_hal_msp.lst
build/stm32f4xx_hal_pwr.lst
build/stm32f4xx_hal_pwr_ex.lst
build/stm32f4xx_hal_rcc.lst
build/stm32f4xx_hal_rcc_ex.lst
build/stm32f4xx_hal_rng.lst
build/stm32f4xx_hal_spi.lst
build/stm32f4xx_hal_tim.lst
build/stm32f4xx_hal_tim_ex.lst
build/stm32f4xx_it.lst
build/system_stm32f4xx.lst
build/tasks.lst
build/timers.lst
build/event_groups.lst
build/cmsis_os.lst
build/croutine.lst
build/freertos.lst
build/heap_4.lst
build/list.lst
build/main.lst
build/port.lst
build/queue.lst
build/stm32f4xx_hal.lst
build/stm32f4xx_hal_cortex.lst
build/stm32f4xx_hal_crc.lst
build/stm32f4xx_hal_dma.lst
build/stm32f4xx_hal_dma_ex.lst
build/stm32f4xx_hal_flash.lst
build/stm32f4xx_hal_flash_ex.lst
build/stm32f4xx_hal_flash_ramfunc.lst
build/stm32f4xx_hal_gpio.lst
build/stm32f4xx_hal_msp.lst
build/stm32f4xx_hal_pwr.lst
build/stm32f4xx_hal_pwr_ex.lst
build/stm32f4xx_hal_rcc.lst
build/stm32f4xx_hal_rcc_ex.lst
build/stm32f4xx_hal_rng.lst
build/stm32f4xx_hal_spi.lst
build/stm32f4xx_hal_tim.lst
build/stm32f4xx_hal_tim_ex.lst
build/stm32f4xx_it.lst
build/system_stm32f4xx.lst
build/tasks.lst
build/timers.lst
